@font-face {
    font-family: iransans;
    src: url(fonts/iransans-fa.woff);
 }
 body{
     font-family: iransans!important;
     font-size: 14px;
 }
.CustomBtn{
    height: 64px;
    width: 100px;
    background-color:#b10707;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: iransans;
    padding-top: 32px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
}
.obligation{
    font-size: 12px;
    font-family: iransans;
    color: #000ddd;
    direction: rtl;
    text-align: justify;
    padding: 12px;
    border: solid 1px #000bbb;
    border-radius: 4px;
    width: 70%;
    margin-left: 156px;
}
.box{
    display: flex;
    justify-content: flex-end;
    margin-right: 212px;
}
.text-check{
    font-family: iransans;
    font-size: 16px;
    margin: 16px;
    color: #000ddd;
}
.box_button{
  direction: rtl;
  font-size: 8px;
  font-family: iransans;
  padding-right: 24px;
  display: flex;
  justify-content: end;
  margin-right: 206px;
}
#button{
    display: none;
}
.deactive{
    width: 20%;
    padding: 50px 0;
    text-align: center;
    background-color: #b7b5ae;
    margin-top: 20px;
    border: solid 1px #aaa999;
}
.main-div{
    height: 250px;
    display: flex;
    justify-content: center;
    background-color: #e8e8e8;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: dashed 1px #888;
    border-radius: 4px;
}
.textinput{
    background-color: #FFFFFF66;
    border: 2px solid #FFFFFF77;
    color: #888;
    padding: 8px;
    border-radius: 4px;
    margin: 4px;
    direction: rtl;
}
.checkbox{
    margin-top: 100px;
}
.user-div{
    display: flex;
}
.pass-div{
    display: flex;
}
input{
    font-family: iransans;
    font-size: 12px;
    margin-left: 12px;

}
.user-div > div:last-child{
    direction: rtl;
    font-family: iransans;
    font-size: 0.9rem;
    color:#969696;
}
.pass-div > div:last-child{
    direction: rtl;
    font-family: iransans;
    font-size: 0.9rem;
    color:#969696;
}
.box-div{
    display: flex;
    justify-content: flex-start;
    direction: rtl;
    margin: 24px 64px 0px  0px;
}
.remember{
    font-family: iransans;
    font-size: 12px;
    margin: -12px 12px;
}
.button-div{
    direction: rtl;
    font-size: 12px;
    font-family: iransans;
    margin: 12px 64px;
}
.main-input{
    margin-top: 12px;
}
.error-text{
    color:red;
    font-size: 10px;
    direction: rtl;
}
.has-error{
    border: solid red 1px;
}
.register{
    width: 500px;
    background-color: #adada9;
    border: solid 1px #969696;
    height: 500px;
    direction: rtl;
    margin-left: auto;
}
.rules{
    text-align:end;
}
.txt-rules{
    direction: rtl;
    text-align: justify;
    font-size: 12px;
    margin-bottom: 12px;
}
.remember-box{
    margin-top: 40px;
}
.remember-check{
display: flex;
flex-direction: row-reverse;
justify-content: flex-start;
align-items: center;
}
.sub{
    margin: 12px -8px;
}
p{
    direction: rtl;
    text-align: justify;
}
.pwd-tooltip{
    position: absolute;
    top: -8px;
    left: 20%;
    background-color: #ece98a;
    opacity: 0;
    transition: all 0.2s;
    font-size: 10px;
    display: flex;
    justify-content: center;
    border: solid 1px #d4cf2d;
    border-radius: 2px;
    align-items: center;
    padding: 8px 7px;
}
.pwd-fld-container{
    position: relative;
}
.pwd-fld-container:hover .pwd-tooltip{
    opacity: 1;
}
.frm-register{
    position: relative;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #ffffffa8;
    z-index: 1;
    display: none;
}
.active{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
a[data-toggle='modal']{
    cursor: pointer;
    color: rgb(50, 104, 206) !important;
}
.ver-line{
    border-left: 6px solid rgba(227, 228, 230, 0.288);
    height: 500px;
  }
  .info-table{
      direction: rtl;
      text-align: center;

  }